{{define "layouts/base.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>users/index</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>上传文件示例</title>
</head>
<body>
{{.time}}
<form action="/upload" method="post" enctype="multipart/form-data">
    <!-- <input type="file" name="f1" > -->
    <input type="file" name="file" multiple="multiple">
    <input type="submit" value="上传">
</form>
</body>
</html>
</body>
</html>
{{end}}